* {
  margin: 0;
  padding: 0;
}

/* Header */

.main-container {
  max-width: 80rem;
  height: 100vh;
  margin-left: 20rem;
  margin-right: 3.5rem;
  position: fixed;
}

.header__navigation {
  display: flex;
  /* width: 70vw; */
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem;
  margin: 1.25rem;
  border-radius: 0.5rem;
  background-color: #121212;
  transition: background-color 0.25s, ease-out;
  /* position: absolute; */
  opacity: 1;
}

.header__navigation .navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__navigation .navigation .arrow-left,
.arrow-right {
  margin-right: 1rem;
}

.arrow-left,
.arrow-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  background: var(--bg-icon);
  background-color: var(--bg-arrow-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.header__login {
  display: flex;
  align-items: center;
  margin-left: 8rem;
}

.header__search {
  display: flex;
  align-items: center;
  width: 22.75rem;
  height: 3rem;
  background-color: var(--bg-search);
  border-radius: 500px;
  border: 1px solid transparent;
  margin-left: 0.5rem;
}

.header__search img {
  height: 1rem;
  width: 1rem;
  margin-left: 0.625rem;
}

.header__search input {
  background: transparent;
  border: none;
  padding: 0 6.25rem 0 0.75rem;
  color: #fff;
  text-overflow: ellipsis; /*serve para "abreviar"*/
  overflow: hidden;
  white-space: nowrap; /*mantem o texto em uma linha só*/
  outline: none;
}

.header__login .subscribe {
  color: #a7a7a7;
  font-size: 1rem;
  font-weight: 700;
  background-color: transparent;
  border: none;
  margin-right: 2rem;
}

.header__login .login {
  width: 6.25rem;
  height: 2.8rem;
  border-radius: 40px;
  border: none;
  color: #000;
  font-size: 1.1rem;
  font-weight: 700;
  margin-right: 0.2rem;
}

.header__search:hover {
  border: 0.06rem solid #fff;
}

.header__login .subscribe:hover,
.login:hover {
  transform: scale(1.04);
  cursor: pointer;
}

/* Cards Playlist */

.playlist-container {
  height: 75vh;
  max-width: 76vw;
  padding-top: 1rem;
  margin: 1.25rem;
  border-radius: 0.625rem;
  background-color: #121212;
}

.playlist {
  margin: 3rem;
}

.playlist #greeting {
  color: var(--text-base-light);
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.playlist .session {
  color: var(--text-base-light);
  font-size: 1.5rem;
  font-weight: bold;
}

/* SCROLL */
.offer__scroll-container {
  max-height: 52vh;
  /* max-width: 66rem; */
  margin: 2.5rem;
  overflow-y: auto;
}

.offer__scroll-container::-webkit-scrollbar {
  width: 0.1rem; /* Elimina as barras de scroll */
}

/* Thumb */

.offer__scroll-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* Fim Scroll */

.offer__list-item {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* número de colunas na grade e a largura de cada coluna */
  gap: 1rem;
  grid-gap: 1rem;
  margin-bottom: 1rem;
  max-width: 65rem;
  padding-left: 8rem;
}

.cards {
  position: relative;
  width: 13.75rem;
  height: 12.5rem;
  overflow: hidden;
  border-radius: 0.5rem;
}

.cards img {
  max-width: 35vw;
  max-height: 25vh;
}

.cards span {
  padding: 1rem;
  position: absolute;
  color: var(--text-base-light);
  font-size: 1.5rem;
  font-weight: bold;
}

.card-1 {
  background-color: var(--card1);
}

.card-2 {
  background-color: var(--card2);
}

.card-3 {
  background-color: var(--card3);
}

.card-4 {
  background-color: var(--card4);
}

.card-5 {
  background-color: var(--card5);
}

.card-6 {
  background-color: var(--card6);
}

.card-7 {
  background-color: var(--card7);
}

.card-8 {
  background-color: var(--card8);
}

.card-9 {
  background-color: var(--card9);
}

.card-10 {
  background-color: var(--card10);
}

.card-11 {
  background-color: var(--card11);
}

.card-12 {
  background-color: var(--card12);
}

.card-13 {
  background-color: var(--card13);
}

.card-14 {
  background-color: var(--card14);
}

.card-15 {
  background-color: var(--card15);
}

.offer__list-item img {
  position: absolute;
  right: 0;
  bottom: 0;
  height: auto;
  width: 6.688rem;
  transform: rotate(30deg) translate(16%, -3%);
}

/* CARD ARTISTA */
.artist {
  --column-count: 5;
  --grid-gap: 1.5rem;
  --min-container-width: 23.25rem;
}

.hidden {
  display: none;
}

.grid-container {
  grid-gap: var(--grid-gap);
  display: grid;
  grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
  min-width: var(--min-container-width);
}

.artist-card {
  background: #181818;
  border-radius: 0.5rem;
  -ms-flex: 1;
  flex: 1;
  isolation: isolate;
  padding: 2rem;
  position: relative;
  transition: background-color 0.3s ease;
  width: 100%;
}

.artist-card:hover {
  background-color: #252525;
}

.card-img {
  padding-bottom: 100%;
  position: relative;
  width: 100%;
  margin-bottom: 16px;
}

.artist-img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 50%;
}

.card-text {
  display: flex;
  flex-direction: column;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 62px;
}

.card-text a {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}

.artist-name {
  box-sizing: border-box;
  margin-block: 0px;
  font-size: 16px;
  font-weight: 700;
  padding-block-end: 8px;
}

.artist-categorie {
  color: #6a6a6a;
  font-weight: 400;
  font-size: 0.875rem;
}

.play {
  position: relative;
}

.play .fa-play {
  position: absolute;
  right: 10px;
  top: 120px;
  padding: 18px;
  background-color: #1db954;
  border-radius: 100%;
  font-size: 14px;
  opacity: 0;
  transition: all ease 0.4s;
}

.artist-card:hover .play .fa-play {
  opacity: 1;
  transform: translateY(-20px);
}

.play .fa-play:hover {
  padding: 20px;
  cursor: pointer;
}

#result-artist {
  padding: 20px 40px;
}
